@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");


#root {
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  font-family: 'Jost', sans-serif;
}

.logo {
  height: 46px;
  padding: 0;
  will-change: filter;
  transition: filter 300ms;
  border-radius: 23px;
}

.logo.react:hover {
  filter: drop-shadow(0 0 1em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.read-the-docs {
  color: #888;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 1em; */
  background-color: whitesmoke;
  width: 100%;
}

.scrollspy {
  height: calc(100vh - 118px);
  position: relative;
  overflow-y: scroll
}

@media screen and (max-width: 575px) {
  .scrollspy {
    height: calc(100vh - 157px);
  }
}

@media screen and (max-width: 483px) {
  .scrollspy {
    height: calc(100vh - 219px);
  }
}

.footer1 {
  padding: 1em;
  background-color: whitesmoke;
}

article {
  display: flex;
  flex-direction: column;
}

/* homepage */
.home {
  /* background-image: url('/src/assets/IMG_2129.jpeg');
  background-size: cover;
  background-position: bottom;
  opacity: 0.5; */
  position: relative;
  height: 600px;
}

.home>img {
  width: 100%;
  height: 100%;
  object-fit: bottom;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
}

.home .content {
  background-color: rgba(5, 70, 94, 0.5);
  /* opacity: 0.8; */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
}

.home .card {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 2em;
  margin: 2em;
  /* min-width: 600px; */
  min-height: 300px;
  width: 800px;
  height: 380px;
  max-width: 90%;
  align-self: center;
}

.home .card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 632px) {
  #invis-port {
    display: none;
  }
}


.card-portrait {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin: 0 auto;
}

.edu {
  background-image: url('/src/assets/ucl-campus.jpg');
  background-position: center;
  background-size: cover;
  color: white;
}

.edu .filter {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7));
  height: 100%;
  width: 100%;
  padding: 40px;
}

.edu .resume-item {
  padding-left: 15px;
}


.exp {
  background-image: url('/src/assets/avanade-studio.jpg');
  background-position: center;
  background-size: cover;
  color: white;
}

.exp .filter {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7));
  height: 100%;
  width: 100%;
  padding: 40px;
}

.exp .resume-item {
  padding-left: 15px;
}

.resume-desc {
  font-size: 1.1em;
}

/* projects */


/* footer */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  background-color: whitesmoke;
  width: 100%;
}